<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FFmpeg.AutoGen" version="4.1.0.2" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net461" />
  <package id="Grpc" version="1.21.0" targetFramework="net461" />
  <package id="Grpc.Core" version="1.21.0" targetFramework="net461" />
  <package id="Grpc.Core.Api" version="1.21.0" targetFramework="net461" />
  <package id="Grpc.Tools" version="1.21.0" targetFramework="net461" developmentDependency="true" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
</packages>